.header {
    margin-bottom: 3%;
    text-align: center;
}
.heading {
    text-align: center;
}
.images {
    float: left;
}
.three-sections{
    display: flex;
    
}
.two-sections {
    display: flex;
}
.footer {
    text-align: center;
   margin-left: 20%;
   margin-right: 20%;
}
.box-1 {
    width: 33.33%;
    padding: 20px 20px 0 0;
}
.box-2 {
    width: 50%;
    padding: 20px 20px 0 0;
    margin-left: 20%;
    margin-right: 20%;
}
.heading-5 {
  text-align: right;
  padding-right: 64%;
}
.heading-4 {
padding-left: 20%;
}

@media (min-width: 960px) { 
    .heading-5 {
        font-size: small;
        width: 40%
    }
    .heading-4 {
        font-size:small ;
        width:40% ;
    }
    .heading {
        font-size: small;
        
    }
    .footer {
        font-size: small;
    
    }
    .header{
        font-size: small;
    }
    .MQ {
        font-size: small;
    }
  }
    



