.header {
    margin-bottom: 3%;
    text-align: center;
}
.heading {
    text-align: center;
}
.images {
    float: left;
    padding: 0px 10px 0 0;
    
}
.three-sections{
    display: flex;
    
}
.two-sections {
    display: flex;
}
.footer {
    text-align: center;
   margin-left: 20%;
   margin-right: 20%;
}
.box-1 {
    width: 33.33%;
    padding: 20px 20px 0 0;
}


@media (max-width: 82em) { 
    .heading-5 {
        font-size: small;
        width: 40%
    }
    .heading-4 {
        font-size:medium ;
        width:40% ;
    }
    .footer {
        font-size: medium;
    }
    .header {
        font-size: medium;
    }
    
    .three-sections {
        font-size: x-large;
    }
    .two-sections {
        font-size: x-large;
    } 
      
 
 }
        

